<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>608264059607-h36j4ffnqnft245n5s5n9pkt5k80tb0h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.608264059607-h36j4ffnqnft245n5s5n9pkt5k80tb0h</string>
	<key>API_KEY</key>
	<string>AIzaSyAlMaliZ899_Tv41H4ds3vmJFwKTc9_Ft8</string>
	<key>GCM_SENDER_ID</key>
	<string>608264059607</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.oregonstate.anderja8.wasteagram</string>
	<key>PROJECT_ID</key>
	<string>wasteagram-anderja8</string>
	<key>STORAGE_BUCKET</key>
	<string>wasteagram-anderja8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:608264059607:ios:d4ece786bb799f2c580e92</string>
	<key>DATABASE_URL</key>
	<string>https://wasteagram-anderja8.firebaseio.com</string>
</dict>
</plist>